@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@700&family=Moon+Dance&family=Poppins:wght@300;400;500&family=Quicksand&family=Roboto:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@700&family=Moon+Dance&family=Poppins:wght@300;400;500&family=Quicksand&family=Roboto:wght@400;500&display=swap");

/* for header of the site*/
.main-header {
  font-family: "Montserrat", sans-serif;
  color: #31a5ac;
  font-size: 48px;
  font-weight: 700;
  margin-top: 37px;
}

/* for input field */
.input-body {
  background-color: #dcdcdc;
  border: none;
  border-radius: 2px;
  width: 90%;
  margin: 0 auto;
}

/* for main body */
.main-body {
  margin-top: 38px;
  font-family: "Roboto", sans-serif;
}

/* for the calculation body */
.calculate-body {
  background-color: #f8f8f8;
}
/* calculate button and save button */
#calculate-btn,
#save-btn {
  color: white;
  background-color: #59a5ff;
}

/* for the save input */
.save-input {
  border: none;
  background-color: #dcdcdc;
  border-radius: 2px;
  width: 5rem;
}
